/.DS_Store
/BeanItf.class
/Book.class
/BookBean.class
/META-INF/
/ServletDisplayAuthors.class
/ServletDisplayBooks.class
/ServletInit.class
/ServletRegisterBook.class
/MaSession.class
/SessionItf.class
/Order.class
/ServletConnexion.class
